<!doctype html>
<html lang="en">
<head>
  <title>Data Collector</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="./assets/app.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>

<body ng-cloak ng-app="dataCollectorApp" layout="column" ng-controller="MainController as mc">

<!-- Container -->
  <div flex layout="row">
    <!-- Sidenav -->
    <md-sidenav
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        class="site-sidenav md-whiteframe-z2 md-primary">

      <md-toolbar>
        <h3>Tools</h3>
      </md-toolbar>

      <!-- Tools -->
      <md-content flex layout="column">
        <md-list>

          <md-list-item ng-repeat="tool in mc.tools">
            <md-button flex ng-click="mc.selectTool(tool)" ng-href="#/{{tool.href}}">
              <md-icon md-font-set="material-icons" class="tool">{{tool.icon_id}}</md-icon>
              {{tool.item}}
            </md-button>
          </md-list-item>
        </md-list>
      </md-content>

    </md-sidenav>

    <!-- Content -->
    <md-content flex layout="column" id="content">
      <md-toolbar layout="row" class="md-whiteframe-z1 headline">
        <div class="md-toolbar-headline" layout="row">
          <md-button id="main" class="menu" ng-click="mc.toggleSidenav()" aria-label="Show Sidenav" hide-gt-sm>
            <md-icon md-font-set="material-icons">menu</md-icon>
          </md-button>
          <md-icon class="headline-icon" md-font-set="material-icons">{{mc.toolSelected.icon_id}}</md-icon>
          <h2>{{mc.toolSelected.item}}</h2>
        </div>
      </md-toolbar>

      <md-content layout="column" flex>

      </md-content>
    </md-content>
  </div>

  <script src="./bower_components/angular/angular.min.js" type="text/javascript"></script>
  <script src="./bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
  <script src="./bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
  <script src="./bower_components/angular-messages/angular-messages.min.js" type="text/javascript"></script>
  <script src="./bower_components/angular-material/angular-material.min.js" type="text/javascript"></script>

  <script src="src/app.js" type="text/javascript"></script>
  <script src="src/services.js" type="text/javascript"></script>
  <script src="src/controllers.js" type="text/javascript"></script>
</body>
</html>