/* Sidenav area */

.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
}

.site-sidenav md-toolbar h2 {
  margin: auto;
  _font-weight: 500;
  font-size: 24px;
  font-weight: 400;
}

.site-sidenav md-content {
  background-color: #E91E63;
  color: #F5F5F5;
}

.site-sidenav md-list-item > a {
  width: 100%;
  text-align: left !important;
  text-transform: none;
  font-size: 18px;
}

.site-sidenav md-list-item {
  height: 40px;
  min-height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.site-sidenav md-icon.tool {
  margin-right: 10px;
  margin-left: 5px;
  color: #212121;
  height: 20px;
  width: 20px;
}

.site-sidenav .material-icons {
  font-size: 19px;
}

.site-sidenav md-content md-list .md-button.selected {
  background-color: #F06292;
}

.site-sidenav md-toolbar {
  height: 68px;
  min-height: 68px;
}

md-list-item {
  overflow: hidden;
}

/* Primary content area */

.md-button.menu {
  background-color: transparent;
  border: none;
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
  margin-top: 13px;
  margin-left: -8px;
}
.md-button.menu md-icon {
  color: #202020 !important;
}

md-icon.headline-icon {
  color: #202020 !important;
  margin-right: 10px;
}

#content md-toolbar.headline {
  background-color: #FFEB3B;
  color: #202020;
}

#content .md-toolbar-headline {
  margin: 0 24px;
}

#content md-toolbar h2 {
  font-size: 24px;
  font-weight: 400;
}

#content .layout-content {
  margin: 15px 24px;
}

#content .layout-content h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}